<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout">
<head lang="en">
</head>
<body>
<!--Everything Goes Here-->
<div layout:fragment="content">
    <div class="card-background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                    <div class="col-xs-5 col-sm-my">
                        <img class="info-page-image" th:src="${results.imageUrl}"/>
                    </div>
                    <div class="col-xs-7  col-sm-my">
                        <h2 th:text="${results.title}"></h2>
                        <div th:each="author : ${results.authors}">
                            <a th:href="@{'/author/'+${author.id}}">
                                <span id="author-text" class="author-span" th:text="' '+${author.firstName} +' '+ ${author.lastName}"></span>
                            </a>
                        </div>
                        <div class="page-info-list">
                            <ul class="list-unstyled">
                                <li><label>Date Added:</label><span th:text="' '+${results.dateCreated}"></span></li>
                                <li><label>Publisher:</label><span th:text="' '+${results.publisher.publisher}"></span></li>
                                <li><label>Date Published:</label><span th:text="' '+${results.datePublished}"></span></li>
                                <li><label>ISBN-13:</label><span th:text="' '+${results.isbn13}"></span></li>
                                <li><label>ISBN:</label><span th:text="' '+${results.isbn10}"></span></li>
                                <li><label>Page Count:</label><span id="page-count" th:text="' '+${results.pageCount}"></span></li>
                            </ul>
                        </div>
                        <a href="" class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal">Delete Book</a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br/>
                            <br/>
                            <div class="w3-conatiner">
                                <p th:text="${results.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="shelf-checkbox-div">
                        <h4>Shelves</h4>
                        <input id="bu-id" type="hidden" th:value="${readingState[0]}" />
                        <input id="currentState" type="hidden" th:value="${readingState[1]}"/>
                        <fieldset id="reading-state-radio">
                            <ul class="list-group">
                                <li class="shelf-radio list-group-item">
                                    <input id="CR" type="radio" name="readingState" value="CR"
                                           th:checked="${readingState[1]} == 'CR'? true : false"/>
                                    <label for="CR" title="Currently Reading">Currently Reading</label>
                                </li>
                                <li class="shelf-radio list-group-item">
                                    <input id="TR" type="radio" name="readingState" value="TR"
                                           th:checked="${readingState[1]} == 'TR'? true : false"/>
                                    <label for="TR" title="To Read">To Read</label>
                                </li>
                                <li class="shelf-radio list-group-item">
                                    <input id="R" type="radio" name="readingState" value="R"
                                           th:checked="${readingState[1]} == 'R'? true : false"/>
                                    <label for="R" title="Completed">Completed</label>
                                </li>
                            </ul>
                        </fieldset>
                        <br/>
                        <ul class="list-group">
                            <li class="shelf-checkbox list-group-item" th:each="shelf,iter :${isOnShelf}">
                                <input th:id="'checkbox'+${iter.index}" type="checkbox" th:value="${shelf[1]}"
                                       th:checked="${shelf[0]}"
                                       th:onchange="'shelfChange(\'' + ${iter.index} + '\')'" />
                                <label th:for="'checkbox'+${iter.index}" th:text="${shelf[1]}"
                                       th:title="${shelf[1]}"></label>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="book-id" type="hidden" name="id" th:value="${results.id}"/>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Deleting this book will remove it from all shelves.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="delete-book" type="button" class="btn btn-danger">Delete Book</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="startDateModal" tabindex="-1" role="dialog" aria-labelledby="startDateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="startDateModalLabel">Currently Reading</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="start-date-form" class="form-horizontal">
                        <div id="err1-group" class="form-group">
                            <label for="start-date-input" class="col-sm-3 control-label">Start Date</label>
                            <div class="col-sm-9">
                                <input id="start-date-input" type="date" class="form-control date-input"
                                       name="dateStarted" placeholder="mm/dd/yyyy" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                                <p id="err1-message" class="text-danger hidden"></p>
                            </div>
                        </div>
                        <div id="err2-group" class="form-group">
                            <label for="currentPage" class="col-sm-3 control-label">Current Page</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="currentPage" name="currentPage" placeholder="Current Page"
                                    min="0" th:max="${results.pageCount}"/>
                                <p id="err2-message" class="text-danger hidden"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="start-date-submit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="finishDateModal" tabindex="-1" role="dialog" aria-labelledby="finishDateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="finishDateModalLabel">Completed</h4>
                </div>
                <div class="modal-body">
                    <div id="date-finished-form" class="form-horizontal">
                        <div id="err3-group" class="form-group">
                            <label for="date-finished-input" class="col-sm-3 control-label">Date Finished</label>
                            <div class="col-sm-9">
                                <input id="date-finished-input" type="date" class="form-control date-input" name="dateFinished"
                                       placeholder="mm/dd/yyyy" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                                <p id="err3-message" class="text-danger"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="date-finished-submit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="toReadModal" tabindex="-1" role="dialog" aria-labelledby="toReadModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="toReadModalLabel">To Read</h4>
                </div>
                <div class="modal-body">
                    <p>Changing the reading state to "To Read" will delete your progress.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="to-read-submit" type="button" class="btn btn-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Everything-->
</body>
</html>