<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorator="Layout">
<head lang="en">
</head>
<body>
<!--Everything Goes Here-->
<div layout:fragment="content">
    <div class="card-holder">
        <div class="card-page-header">
            <h2 id="page-name" th:text="${pageName}"></h2>
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sorting
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a th:href="@{/list/reading(sort=1)}">Date Added: New to Old</a></li>
                    <li><a th:href="@{/list/reading(sort=2)}">Date Added: Old to New</a></li>
                    <li><a th:href="@{/list/reading(sort=3)}">Title: A to Z</a></li>
                    <li><a th:href="@{/list/reading(sort=4)}">Title: Z to A</a></li>
                    <li><a th:href="@{/list/reading(sort=11)}">Page Count: Low to High</a></li>
                    <li><a th:href="@{/list/reading(sort=12)}">Page Count: High to Low</a></li>
                    <li><a th:href="@{/list/reading(sort=5)}">Author: A to Z</a></li>
                    <li><a th:href="@{/list/reading(sort=6)}">Author: Z to A</a></li>
                    <li><a th:href="@{/list/reading(sort=7)}">Date Started: New to Old</a></li>
                    <li><a th:href="@{/list/reading(sort=8)}">Date Started: Old to New</a></li>
                    <li><a th:href="@{/list/reading(sort=15)}">Progress</a></li>
                </ul>
            </div>
        </div>

        <div class="card_cr" th:each="book,iter :${results}">
            <div class="card-img-container_cr"><img class="card-img" th:src="${book.imageUrl}"/></div>
            <div class="card-content_cr">
                <div class="card-details-container">
                    <div class="card-title">
                        <h4><a class="limit-2" th:href="@{'/book/info/'+${book.isbn13}}"
                               th:text="${book.title}" th:title="${book.title}"></a></h4>
                    </div>
                    <hr/>
                    <div class="card-author limit-2">
                        <p th:each="author :${book.authors}">
                            <a th:href="@{/list/author(id=${author.id})}" th:text="${author.lastName} +', '+ ${author.firstName}"
                               th:title="${author.lastName} +', '+ ${author.firstName}"></a>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="date" th:text="${#dates.format(book.dateCreated, 'MMM dd yyyy')}"></small>
                    <small class="page-count" th:text="${book.pageCount}"></small>
                </div>
            </div>
            <div class="card_cr_details">
                <div class="cr_details_info">
                    <div>
                        <p><label>Date Started:</label><span th:text="'  '+${#dates.format(book.dateStarted, 'MMM dd yyyy')}"></span></p>
                        <p><label>Current Page:</label><span th:attr="data-current-page=${iter.index}"
                                                             th:text="'  '+${book.currentPage}"></span></p>
                    </div>
                    <div class="cr_details_info-btn-div">
                        <button type="button" class="btn btn_cr btn-info update-btn"
                                th:attr="data-buid=${book.buid}, data-index=${iter.index}">Update</button>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         th:attr="aria-valuenow=${book.progress}, data-progress=${iter.index}" aria-valuemin="0" aria-valuemax="100"
                         th:style="'width:'+${book.progress}+'%;'"
                         th:text="${book.progress}+'%'">
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form action="" id="update-form" class="form-horizontal">
                        <div id="err5-group" class="form-group">
                            <label for="update-page" class="col-sm-3 control-label">Current Page</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="number" class="form-control current-page-input-fix" id="update-page" name="updatePage" placeholder="Current Page"
                                           min="0"/>
                                    <span class="input-group-btn">
                                        <button id="update-page-btn" class="btn btn-info" type="button">Update</button>
                                    </span>
                                </div>
                                <p id="err5-message" class="text-danger hidden"></p>
                            </div>
                        </div>
                        <p style="text-align: center;"><b>OR</b></p>
                        <div id="err4-group" class="form-group">
                            <label for="update-input" class="col-sm-3 control-label">Date Finished</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="update-input" type="date" class="form-control date-input input-fix"
                                           name="dateStarted" placeholder="mm/dd/yyyy" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                                    <span class="input-group-btn">
                                        <button id="update-input-btn" class="btn btn-info" type="button">Update</button>
                                    </span>
                                </div>
                                <p id="err4-message" class="text-danger hidden"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End Everything-->
</body>
</html>